{% extends "master.html" %}

{% block content %}

{% if estAdmin %}
<h1>Liste des comptes</h1>
    <table class="table">
      <tr>
        <th>Compte</th>
      </tr>
      {% for compte in comptes %}
        <tr>
          <td>{{compte.compte}}</td>
        </tr>
      {% endfor %}
    </table>
{% endif %}
{% endblock %}