<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TP3_Covid</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQJBT7K2GC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EQJBT7K2GC');
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1>Inscription</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="identifiant">Identifiant</label>
            <input type="text" class="form-control p-2" id="identifiant" name="identifiant">
        </div>
        <div class="form-group">
            <label for="mdp">Mot de passe</label>
            <input type="text" class="form-control p-2" id="mdp" name="mdp">
        </div>
        <!-- <div class="form-group">
            <label for="admin">Administrateur</label>
            <input type="checkbox" id="admin", name="admin">
        </div> -->
        <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
    </br>
    <a href="/comptes/connexion"><button type="button">J'ai déjà un compte existant</button></a>
    <a href="/cas/regions"><button type="button">Voir la liste des régions</button></a>

    <!-- Script Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>