<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TP3_Covid</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQJBT7K2GC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-EQJBT7K2GC');
    </script>
</head>

<body>

    <header>
        <nav >
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/cas/regions">Liste des régions</a>
                </li>
                {% if session.get("compte_id") %}
                    <li class="nav-item">
                        <a class="nav-link"  href="/cas/cas">Liste des cas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cas/saisie">Saisir un cas</a>
                    </li>
                {% endif %}
                {% if session.get("est_admin") %}
                    <li class="nav-item">
                        <a class="nav-link" href="/comptes/comptes">Liste des comptes</a>
                    </li>
                {% endif %}
            </ul>
            <a href="{{url_for('cas.francais')}}"><button type="button">FR</button></a>
            <a href="{{url_for('cas.anglais')}}"><button type="button">EN</button></a>
            <p>{{date}}</p>
            {% if estConnecte %}
                <a href="/comptes/deconnexion" class="float-right"><button type="button" id="deconnexion">Déconnexion</button></a>
            {% else %}
                <a href="/comptes/connexion" class="float-right"><button type="button" id="connexion">Connexion</button></a>
                <a href="/comptes/inscription" class="float-right"><button type="button" id="inscription">Inscription</button></a>
            {% endif %}
        </nav>
    </header>

    {% block content %}{% endblock %}

    <!-- Script Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>

</html>