{% extends "master.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

    <h1>Liste des cas</h1>
    <table class="table">
      <tr>
        <th>Date</th>
        <th>Région</th>
        <th>Initiales</th>
        {% if estAdmin %}
          <th>Action</th>
        {% endif %}
      </tr>
      {% for unCas in cas %}
        <tr>
          <td>{{dates[loop.index-1]}}</td>
          <td>{{unCas.region.nom}}</td>
          <td>{{les_initiales[loop.index-1]}}</td>
          {% if estAdmin %}
            <td><a href="/cas/{{unCas.id}}/suppression">Supprimer</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}