{% extends "master.html" %}

{% block content %}

    <h1>Saisie</h1>

    {% if messages is defined %}
      <ul>
        {% for message in messages.values() %}
          <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% else %}
      {% set messages = {} %}
    {% endif %}

    <form method="POST">
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" value="{{prenom}}" class="form-control" id="prenom" name="prenom">
        <p>{{messages['prenom']}}</p>
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" value="{{nom}}" class="form-control" id="nom" name="nom">
        <p>{{messages['nom']}}</p>
      </div>
      <div class="form-group">
        <label for="region">Région</label>
        <select id="region" name="region">
          <option value="">--- choisir une région ---</option>
          {% for region in regions %}
          {{region.id}} {{region_id}}
              {% if region.id | string() == region_id %}
                  <option value="{{ region.id }}" selected="selected">{{ region.nom }}</option>
              {% else %}
                  <option value="{{ region.id }}">{{ region.nom }}</option>
              {% endif %}
          {% endfor %}
       </select>
      </div>
      <p>{{messages['region']}}</p>
      <button type="submit" class="btn btn-primary">Créer</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

{% endblock %}