{% extends "master.html" %}

{% block content %}

<h1>Saisie réussie!</h1>
<br/>
<a href="/cas/cas"><button>Aller à la liste des cas</button></a>
<a href="/cas/saisie"><button>Saisir un nouveau cas</button></a>

{% endblock %}